[Desktop Entry]
Name=Advanced Settings
Name[ar]=إعدادات متقدّمة
Name[ca]=Configuració avançada
Name[ca@valencia]=Configuració avançada
Name[cs]=Pokročilá nastavení
Name[da]=Avancerede indstillinger
Name[de]=Erweiterte Einstellungen
Name[el]=Προχωρημένες ρυθμίσεις
Name[eo]=Altnivelaj agordoj
Name[es]=Configuración avanzada
Name[eu]=Ezarpen aurreratuak
Name[fa]=تنظیمات پیشرفته
Name[fi]=Lisäasetukset
Name[fr]=Paramètres avancés
Name[gl]=Preferencias avanzadas
Name[he]=הגדרות מתקדמות
Name[hu]=Speciális beállítások
Name[it]=Impostazioni avanzate
Name[ja]=高度な設定
Name[ko]=고급 설정
Name[lt]=Sudėtingesni nustatymai
Name[lv]=Paplašinātie iestatījumi
Name[nb]=Avanserte innstillinger
Name[pa]=ਤਕਨੀਕੀ ਸੈਟਿੰਗ
Name[pl]=Zaawansowane ustawienia
Name[pt]=Definições Avançadas
Name[pt_BR]=Configurações avançadas
Name[ru]=Дополнительные параметры системы
Name[sk]=Pokročilé nastavenia
Name[sl]=Napredne nastavitve
Name[sr]=Напредна подешавања
Name[sr@latin]=Napredna podešavanja
Name[sv]=Avancerade inställningar
Name[te]=అధునాతన అమరికలు
Name[uk]=Додаткові налаштування
Name[zh_CN]=高级设置
Name[zh_HK]=進階設定值
Name[zh_TW]=進階設定值
Comment=Tweak advanced GNOME 3 settings
Comment[ca]=Configureu paràmetres avançats del GNOME 3
Comment[ca@valencia]=Configureu paràmetres avançats del GNOME 3
Comment[cs]=Pokročilé vyladění nastavení GNOME 3
Comment[da]=Tilpas avancerede indstillinger for GNOME 3
Comment[de]=Erweiterte Einstellungen für GNOME 3 optimieren
Comment[el]=Επεξεργαστείτε τις προχωρημένες ρυθμίσεις του GNOME 3
Comment[es]=Ajustes de retoques avanzados en GNOME 3
Comment[eu]=Doitu GNOME 3ren ezarpen aurreratuak
Comment[fa]=به تنظیمات پیشرفته گنوم ۳ سیخونک بزنید
Comment[fi]=Gnome 3:n lisäasetukset
Comment[fr]=Optimisation des paramètres avancés de GNOME 3
Comment[gl]=Axustes de retoques avanzados en GNOME 3
Comment[he]=שיפור הגדרות מתקדמות ב־GNOME 3
Comment[hu]=A GNOME 3 speciális beállításainak módosítása
Comment[it]=Ritocca le impostazioni avanzate di GNOME 3
Comment[ja]=GNOME 3 の高度な設定
Comment[ko]=기능 향상 고급 GNOME 3 설정
Comment[lt]=Tobulinkite papildomus GNOME3 nustatymus
Comment[lv]=Pieregulēt paplašinātos GNOME 3 iestatījumus
Comment[nb]=Endre avanserte GNOME 3 innstillinger
Comment[pa]=ਤਕਨੀਕੀ ਗਨੋਮ 3 ਸੈਟਿੰਗ ਬਦਲਾਅ
Comment[pl]=Dostrajanie zaawansowanych ustawień GNOME 3
Comment[pt]=Ajustar definições avançadas do GNOME 3
Comment[pt_BR]=Ajuste avançado de configurações do GNOME 3
Comment[ru]=Изменение дополнительных параметров GNOME 3
Comment[sk]=Ladiť pokročilé nastavenia GNOME 3
Comment[sl]=Prilagodi napredne nastavitve GNOME 3
Comment[sr]=Штимовање подешавања за Гном 3
Comment[sr@latin]=Štimovanje podešavanja za Gnom 3
Comment[sv]=Justera avancerade GNOME 3-inställningar
Comment[te]=ట్వీక్ అధునాతన గ్నోమ్ 3 అమరికలు
Comment[uk]=Додаткові налаштування для GNOME 3
Comment[zh_CN]=优化 GNOME 3 高级设置
Comment[zh_HK]=調校進階 GNOME 3 設定值
Comment[zh_TW]=調校進階 GNOME 3 設定值
Icon=preferences-other
Exec=gnome-tweak-tool
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;
OnlyShowIn=GNOME;Unity;
