#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[es_AR]=simulaciones
Name[es_AR]=Simulaciones interactivas
Exec=/usr/bin/simulaciones-interactivas
Name=Simulaciones interactivas
Icon=simulaciones
