#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[es_AR]=italc
Exec=/usr/bin/italc
Name[es_AR]=Italc
Comment[es_AR]=Software de administración de clases
Name=Italc
Comment=Software de administración de clases
Icon=italc
