#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[es_AR]=web-browser
Name[es_AR]=Httrack
Comment[es_AR]=Navegador offline
Exec=/usr/bin/httrack
Name=Httrack
Comment=Navegador offline
Icon=web-browser
