.build
binary/
cache/
chroot/
.lock
*.chroot.packages.install
*.chroot.packages.live
*.binary.contents
*.binary.packages
*.binary.hybrid.iso
*.binary.img
*.iso
*.torrent
*.zsync
*.zsync.gz
*.md5
*.log
config/includes.binary/BUILD
config/includes.binary/README
config/includes.binary/isolinux/menu.cfg
config/includes.chroot/BUILD
config/binary
config/bootstrap
config/chroot
config/common
config/source
