[Desktop Entry]
Version=1.0
Name=Instalar Huayra en tu disco
Comment=Instalar Huayra permanentemente en tu disco
Exec=su-to-root -X -c /usr/sbin/debian-installer-launcher
Icon=file-save
Type=Application
Categories=Huayra;
StartupNotify=true
Terminal=false
