#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Ayuda
Comment=Ayuda y documentación
Exec=xdg-open /usr/share/doc/huayra-desktop/PUFs.pdf.gz
Icon=/usr/share/icons/huayra/48x48/apps/help-browser.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;Core;
MimeType=inode/directory;application/x-gnome-saved-search;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=nautilus
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.4.2
